<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/template::areas(~{::title},~{::main})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

</head>

<body>
<!--<div th:replace="~{layout/frags::header}"></div>-->
<!--<div class="container">-->
<!--    <div th:replace="~{layout/frags::aside}"></div>-->
<!--    <div class="container-main">-->
<!--        <div class="main-title">-->
<!--            <a href="">Basic infomation</a>-->
<!--        </div>-->
<!--        <div class="main-content">-->
<!--            <div class="config">-->
<!--                <button class="btn-config">-->
<!--                    <i class="fas fa-cog"></i>Configuration-->
<!--                </button>-->
<!--            </div>-->
<!--            <div class="content-text">Access from the house</div>-->
<!--            <p>It is the address to access from the house to the "Aipo", The house of the user, please contact us to this address</p>-->
<!--            <div class="content-text">Aipo site (in-house) <p> Http: //1 57.7.209.80/</p></div>-->
<!--            <div class="edit">-->
<!--                <button class="btn-edit">To edit</button>-->
<!--            </div>-->
<!--            <div class="content-text">Access from outsite the company</div>-->
<!--            <p>The address for accessing the "Aipo" from outsite the company. The user of the outsite, please contact us to this address</p>-->
<!--            <div class="content-text">Aipo site(Outsite)</div>-->
<!--            <div  class="edit">-->
<!--                <button class="btn-edit">To edit</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
</body>

</html>